* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color:  #fce8df;
    color: #333;
}
header{
    background-color: #e6b29a;
    text-align: center;
    padding: 10px;
}
header h1{
    font-size: 2rem;
    color:#2b1d16 ;
    margin-bottom: 8px;
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 10px;
}
nav a {
    text-decoration: none;
    color: #2b1d16;
    font-weight: bold;
}
nav a:hover {
    color: #8b3e2f;
}
.s1{
    background: url('../../html/assests/cake.jpg') center/cover no-repeat;
    color: white;
    text-align: center;
    padding: 100px 50px;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7);
}
.s1 h1 {
    font-size: 2.5rem;
}

.s1 p {
    font-size: 1.2rem;
    margin-top: 10px;
}
.parent {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 40px;
}
.child {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 0px;
    height: 440px;
    transition: transform 0.3s ease;
}
.child:hover {
    transform: translateY(-5px);
    background-color: #472a17;
    color: white;
}
.child img {
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 200px;
    object-fit: cover;
}
.child h3 {
    margin: 15px 0 8px;
    color: #703b17;
}

.child p {
    font-size: 0.95rem;
    color: rgb(7, 7, 7);
}

.child:hover h3,
.child:hover p{
    color: white;
}

button {
    margin-top: 90px;
    padding: 8px 16px;
    background-color: #703b17;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

button:hover {
    background-color: #ffa726;
}

.offer {
    background-color: #ffe3de;
    text-align: center;
    padding: 15px;
    font-size: 1.1rem;
    color: #992b0f;
    font-weight: bold;
}

footer {
    background-color: #e6b29a;
    text-align: center;
    padding: 15px;
    color: #4e2e1d;
}